.nav-item {
  font-size: 20px;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 80px;
  }

  a {
    color: #fff;
    &.active:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #fff;
      width: 100%;
    }

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #fff;
      transition: width 0.5s;
    }
    &:hover::after {
      width: 100%;
    }
  }
}
