.button {
  display: block;
  border: none;
  border: 4px solid #c2c2c1;
  border-radius: 6px;
  width: fit-content;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;

  &:hover {
    filter: brightness(103%);
  }
}

.success {
  background-color: transparent;
  border: 4px solid #c2c2c1;

  &:hover {
    background-color: #c2c2c1;
    color: white;
  }
}

.danger {
  background-color: transparent;
  border: 4px solid #de7777;

  &:hover {
    background-color: #f2a6a6;
    color: white;
  }
}

.warning {
  background-color: transparent;
  border: 4px solid #70a6df;

  &:hover {
    background-color: #9fc7f2;
    color: white;
  }
}

.interact {
  background-color: transparent;
  border: 4px solid #63e387;

  &:hover {
    background-color: #8ae3a3;
    color: white;
  }
}

.slim {
  padding: 4px 8px;
  width: 180px;
}
